@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .prose :where(iframe):not(:where([class~="not-prose"] *)) {
    @apply aspect-video w-full h-auto;
  }
}

@layer components {
}

/* .kg-width-full and .kg-width-wide Add both class in @layer components */

.kg-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

.kg-bookmark-container {
  border-radius: 25px !important;
  height: 200px;
}

.kg-bookmark-description {
  display: none !important;
}

.kg-bookmark-thumbnail > img {
  margin-top: 0px !important;
}
